/* FONDATION*/
:root{
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing:inherit;
}
body * + *{
    margin-top: 1.5em;
}
/* GENERIC  RULES N*/

body{
    background: violet;
    font-family: "Brush Script MT", serif;
}
header,
footer{
    background-color: darkviolet;
    color: lightsalmon;
    padding: .5em 1.5em ;

}
footer{
    font-size: x-large

}

main{

    background-color: #ffffff;
    padding:  0 1.5em 1.5em 1.5em;
}
header,
main,
footer,
article{
    border-radius: .5em;

}
article h3{
    margin: 0;
}
/*
container pattern*/
.container{
    max-width: 1080px;
    margin: 0 auto;

}
.article{
    float: left;
    width: 50%;
}
/*clearfix
 */
section::after{
    display: block;
    clear: both;
    contain: " ";
}
main section div article:first-child{
    margin-top: 1.5 em;
}
main section div article:ntn-child(2n+1){
    margin-right: 1.5 em;
}
main section div article{
    width: calc(50% - (1.5em/2));
}
.article{
    background-color: burlywood;
    padding: 1.5em;

}
/*
section margin collapsing problem
 */
section > *:first-child{
    margin-top: 1.5em;
    background-color: burlywood;
}
section > * :first-child{
    margin-top: 1.5em;
}
section:before{
    display:table;
    contain: " ";
}
section div article:nth-child(2n+1){
    clear:left;
}
/*
internal article
 */
section div article img{
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1em;
}
section div article p {
    overflow: auto;
    text-align: justify;
}
/*
fix margin collaping problem
 */
sectione::before{
    contain: " ";
    display: table;
}