:root{
    box-sizing: border-box;
    transition: all ease-in-out 5ms;
}
*,
::before,
::after{
    box-sizing: inherit;
    transition: inherit;
}
/*
global/mobile-frist
 */
body{
    font-size: 1.2em;
    font-family: "Apple Braille",sans-serif;
    margin: 0;
}
h1 {
    font-size: 1.8em;
    margin: .9em 0 0 0;
}
h2{
    font-size: 1.5em;
    margin: .9em 0 0 0;
}
figure{
    background-color: black;
    border-radius: .4em;
    color: white;
    padding: .8em;
    text-align: center;
    margin: 0 0 .9em 0 ;
}

img{
    flex: 1;
    max-width: 100%;
object-fit: cover;
}

/*
figure
 */
figure{
    display: flex;
    flex-direction: column;

}
.container{
    margin: 0 .5em;
}
/*
effects
 */
figure:hover{
    background-color: red;
    cursor: pointer;
    transition-duration: 3ms;
}

@media screen and (min-width: 768px){
 body{
     background-color: cornflowerblue;
 }
    figure{
        float: left;
        width: calc(50% - 1.5em) ;
        margin-right: 1.5em;
    }
    .animal{
        margin-right: -1.5em;
    }
    .animal::after{
        content: "";
        clear: both;
        display: block;
    }
}
@media screen and (min-width: 1024px) {
    body{
        background-color: blueviolet;
    }
    .container{
        max-width: 1024px;
        margin: 0 auto;
        padding: .1em 1.5em;
    }
}